a {
  color: darkred;
}
.button {
  border: none;
  padding:none;
  text-align: center;
  text-emphasis-color: white;
  margin: 3px;
  size: 10px;
  
}

h3 {
  color: rgb(41, 138, 109);
  font-family: monospace;
  font-weight: bolder;
}

.content {
  background-color:none;
  border-radius:5px;
  box-shadow:0 0 5px rgba(0,0,0,25px);
  box-sizing:border-box;
  left:70%;
  padding:none;
  position:fixed;
  text-align:center;
  top:40%;
  transform:translate(-50%, -50%);
  animation-duration: 3s;
  animation-name: slidein;
  padding-top: 0px;
  margin-top: 0px;
}
.content_a {
  background-color:none;
  border-radius:5px;
  box-shadow:0 0 5px rgba(0,0,0,25px);
  box-sizing:border-box;
  left:50%;
  padding:none;
  position:fixed;
  text-align:center;
  top:40%;
  transform:translate(-50%, -50%);
  animation-duration: 3s;
  animation-name: slidein;
  padding-top: 0px;
  margin-top: 0px;
}
@keyframes slidein {
  from {
    margin-left: -60%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 90%;
  }
}

h1 {
  font-family:monospace;
}

html {
  height: 100%;
}

body {
  margin: 0;
}
