<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
    {% load static %}
    <img src="{% static '/Iron-Man.jpg/' %}" alt="Iron-man">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    
</head>
<body>
    <main>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content">
            <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="font-family:Lucida Sans;font-weight:bold;" align="right">
        <h1> List of Heroes</h1>
        <ul style="list-style: none;">
            {% for hero in all_heroes %}
            <li><h2>{{hero.name}} - <a href="{% url 'superheroes:detail' hero.id %}">Click For Heroes Details</a></h2></li>
            {% endfor %}
            
            <a href="{% url 'superheroes:create'%}">Add Someone New</a>
        </ul>
        </div>



    </main>

</body>
</html>